[submodule "workflow/scripts/-f"]
	path = workflow/scripts/-f
	url = https://github.com/CiTCoM-Lab/IPANEMAP
[submodule "workflow/scripts/IPANEMAP"]
	path = workflow/scripts/IPANEMAP
	url = https://github.com/CiTCoM-Lab/IPANEMAP
