[submodule "workflow/scripts/IPANEMAP"]
	path = workflow/scripts/IPANEMAP
	url = https://github.com/CiTCoM-Lab/IPANEMAP
[submodule "workflow/scripts/VARNA"]
	path = shapece/workflow/scripts/VARNA
	url = https://github.com/CiTCoM-Lab/VARNA.git
